@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* DEBUG STYLE
*{
    outline: 1px solid black;
} */

/*  CENTRATURA AUTOMATICA 

    .container{
    width: 70%;
    margin: 0 auto;
} */

html{
    font-family: "Roboto", sans-serif;
    font-weight: 400; 
    /* vedi se trova il 200 */
}

header{
    height: 70px;
    background-color: white;
}

img{
    padding: 10px;
    margin-left: 10px;
}

img, h1{
    display: inline-block;
    vertical-align: middle;
    background-color: white;
}

main{
    width: 75%;
    margin: 0 auto;

}

#sezione-1{
    margin-top: 40px;
    background-color: white;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    padding-left: 40px;
}

#task-1{
    background-color: #47ACF1;
    color: white;
    border-radius: 3px;
    border: 1px solid #47ACF1;
    font-size: xx-small;
    padding: 5px 10px;
    margin-right: 5px;
}

#task-2{
    background-color: white;
    color: #C2C8CC;
    border-radius: 3px;
    border: 1px solid #C2C8CC;
    font-size: xx-small;
    padding: 5px 10px;
    margin-right: 5px;
}

